certifi
charset-normalizer
decorator
filelock
fsspec
idna
imageio
imageio-ffmpeg
Jinja2
llvmlite
MarkupSafe
more-itertools
moviepy
mpmath
networkx
numba
numpy
openai-whisper
pillow
proglog
regex
requests
sympy
tiktoken
torch
tqdm
typing_extensions
urllib3
streamlit
